.card-container {
  width: 310px;
  height: 210px;
  perspective: 1800px;
  margin: 30px auto;
  cursor: pointer;
  position: relative;
}

/* Gemeinsame Card Eigenschaften */
.card-sheet {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  border-radius: 14px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform-origin: center center; /* verhindert Springen */
  transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1.35rem;
  font-weight: 700;

  padding: 18px;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4);
}

/* ---------------- Poker Kartenrückseite ---------------- */
.card-front {
  background: #c4001d;
  border: 4px solid #ffffff;
  overflow: hidden;

  background-image: radial-gradient(#ffffff25 18%, transparent 20%),
    radial-gradient(#ffffff15 18%, transparent 20%);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}

/* Shine */
.card-front::after {
  content: "";
  position: absolute;
  inset: -40%; /* größer → kein Clip */
  border-radius: inherit;
  pointer-events: none;

  background: linear-gradient(
    120deg,
    transparent 0%,
    rgba(255, 255, 255, 0.18) 45%,
    transparent 80%
  );

  transform: translateX(-120%);
  transition: transform 1.2s ease;
}

/* Shine NUR wenn die Karte geschlossen ist */
.card-container:not(.open):hover .card-front::after {
  transform: translateX(120%);
}

/* ---------------- Poker Kartenvorderseite ---------------- */
.card-back {
  background: white;
  border: 4px solid #1a1a1a;

  transform: rotateY(-180deg);

  padding: 20px;
}

/* ---------------- Flip Animation ---------------- */
.card-container.open .card-front {
  transform: rotateY(180deg);
}

.card-container.open .card-back {
  transform: rotateY(0deg);
}

/* schöner Glow */
.card-container:hover .card-sheet {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.45), 0 0 18px rgba(255, 56, 184, 0.55);
}
